
/bin
*.suo
/SharpCompress/obj
/SharpCompress.Silverlight/obj
/SharpCompress.Mono/obj
/SharpCompress.3.5/obj
/SharpCompress.Test/obj
/SharpCompress.Test/bin
/_ReSharper.SharpCompress/
*.user